

/* Navbar */
.navbar {
    background-color: #000324;
    opacity: 1;
}

.navbar-nav a {
    color: white;
    text-decoration: none;
}

.text-navbar {
    border: 1px solid transparent;
    color: white;
}

.text-navbar:hover {
    border: 1px solid white;
    color: white;
}

.navbar button {
    color: white;
}

.navbar-nav li {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    text-align: center;
    width: 100px;
    height: 25px;
    margin: 70px 10px 0px;
}

.navColor {
    background: #000324 0% 0% no-repeat padding-box;
    top: 0px;
    bottom: 0px;
    width: auto;
    height: 120px;
    justify-content: center;
    align-items: flex-end;
}

/* Hero Section */
.bg-pool{
    background-image: url(/assets/header.jpg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100% 250%;
    background-position: 0% 55%;
}
.hero-box{
    background-color: #000324;
    opacity: 0.7;
    margin-top: 134px;
    margin-bottom: 134px;
    text-align: center;
    color: white;
    font-family: 'Dorsis',sans-serif;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 50%;
}

/* Award Section */
.award-section{
    padding-top: 80px;
    padding-bottom: 80px;
}
.image-box{
    text-align: right;
}
.award-box h1{
    font-family: 'Dorsis',sans-serif;
}
.award-box p{
    font-family: 'Source Sans 3', sans-serif;
}
.award-box img{
    width: 190px;
    padding-left: 25px;
    margin-left: 5px;
    margin-right: 5px;
}
