/* Navbar */
.navbar {
    background-color: #000324;
    opacity: 1;
}

.navbar-nav a {
    color: white;
    text-decoration: none;
}

.text-navbar {
    border: 1px solid transparent;
    color: white;
}

.text-navbar:hover {
    border: 1px solid white;
    color: white;
}

.navbar button {
    color: white;
}

.navbar-nav li {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    text-align: center;
    width: 100px;
    height: 25px;
    margin: 70px 10px 0px;
}

.navColor {
    background: #000324 0% 0% no-repeat padding-box;
    top: 0px;
    bottom: 0px;
    width: auto;
    height: 120px;
    justify-content: center;
    align-items: flex-end;
}

/* Hero Section */
.bg-pool {
    background-image: url(/assets/header.jpg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100% 250%;
    background-position: 0% 55%;
}

.hero-box {
    background-color: #000324;
    opacity: 0.7;
    margin-top: 134px;
    margin-bottom: 134px;
    text-align: center;
    color: white;
    font-family: 'Dorsis', sans-serif;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 50%;
}

/* Award Section */
.award-section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.image-box {
    text-align: right;
}

.award-box h1 {
    font-family: 'Dorsis', sans-serif;
}

.award-box p {
    font-family: 'Source Sans 3', sans-serif;
}

.award-box img {
    width: 190px;
    padding-left: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

/* Room Section */
.room-bg {
    background-image: url(/assets/bg2.jpg);

    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.room-bg h1,
h5 {
    font-family: 'Dosis', sans-serif;
}

.card-box {
    padding-top: 10px;
    padding-bottom: 60px;
}

.card-text {
    list-style-position: inside;
    padding-left: 0;
    margin-left: 0;
}

.card-text li {
    font-size: small;
}

.card-padding {
    padding-bottom: 40px;
}

/* Package Section */
.card-blue {
    color: #1F51A8;
}

.pack-text h5 {
    font-family: 'Dosis', sans-serif;
}

.pack-text p {
    font-family: 'Source Sans 3', sans-serif;
}

.pack-border {
    border-radius: 0;
}

.card {
    border: none;
}

/* Amenities Section */
.amenities-bg {
    background-image: url(/assets/bg.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    font-family: 'Dosis', sans-serif;
}

.amenities-bg h1 {
    padding-top: 30px;
}

.amenities-bg p {
    padding-bottom: 25px;
}

.pad-bottom {
    padding-bottom: 100px;
}

.pad-bottom h5 {
    padding-top: 20px;
}

/* Reserve Section */
.reserve-box {
    background-color: #000324;
    color: white;
    font-family: 'Dosis', sans-serif;
    padding-top: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.hamster-box {
    background-image: url(/assets/hamsterreserve.jpg);
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100% 250%;
    background-position: 0% 55%;
}

.reserve-text {
    font-family: 'Source Sans 3', sans-serif;
    font-size: x-small;
}

.reserve-button {
    font-family: 'Source Sans 3', sans-serif;
    font-size: small;
    font-weight: bold;
    padding: 10px;
}

/* Footer Section */
.footer-bg{
    background-color: #000324;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}